.form-container1 {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff4ea;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure children are aligned properly */
  gap: 50px; /* Add more space between the elements */
}

h2 {
  text-align: center;
  color: #6a0dad;
  font-size: 3rem; /* Increase font size */
  font-weight:bold; /* Make it bold */
  margin-bottom: 20px;
}
.SignupText{
  font-weight: bold;

}

.form-container1 input {
  width: 90%;
  padding: 16px; /* Taller input fields */
  margin: 5px; /* Increased margin between input fields */
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between inputs and button */
  align-items: center;
  width: 100%;
}

.form-container1 button {
  width: 90%; /* Make the button fully fit the container */
  padding: 16px;
  background-color: #ff7f7f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px; /* Space above the button */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

button:hover {
  background-color: #ff5c5c;
}

button:active {
  background-color: #ff4444;
}
