.header {
  position: fixed;
  top: 40px; /* Add slight spacing from the top */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Slightly wider for a rounded appearance */
  text-align: center;
  padding: 15px;
  color: #6352b7;
  z-index: 1000;
  border-radius: 20px; /* Makes the header rounded */
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
}
@font-face {
  font-family: 'MIXONE';
  src: url('./assets/Dreamate.ttf') format('truetype');
}
.title {
font-family: 'MIXONE';
font-style: italic;
justify-content: center;
text-shadow:0 15px 15px rgba(0, 0, 0, 0.1);
font-size: 40px;

}
/* Adjust body to prevent content from hiding behind the fixed header */
.App {
  font-family: 'Poiret One', cursive;
  background-image: url('./Backgrounds/back1.jpg');
  background-size: cover;  /* Cover the entire screen */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px; /* Ensures content isn't hidden under fixed header */
}
